/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #333;
    font-size: 1em;
    line-height: 1.4;
    background-color: #ff7900;
    font-family: 'Montserrat', sans-serif;
}

::-moz-selection {
    background: #ccc;
    text-shadow: none;
}

::selection {
    background: #ccc;
    text-shadow: none;
}
*{
    box-sizing: border-box;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.text_center{
    text-align: center;
}
.transition{
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.slow{
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
svg{
    width: 100%;
    max-height: 300px;
}

/* ==========================================================================
   custom style
   ========================================================================== */
.main-container{
    background-color: #fff;
    border-radius: 40px;
    width: calc(100% - 100px);
    height:  calc(100vh - 100px);
    margin: 50px auto;
    min-width: 600px;
    max-width: 1400px;
    min-height: 600px;
    max-height: 1000px;
    box-shadow: 0 70px 60px -50px rgba(0,0,0,.6), 0 0 40px rgba(0,0,0,.1);
    padding: 40px;
    overflow: hidden;
}
.content-wrapper{
    position: relative;
    height: 100%;
}
.title_container{
    padding: 50px 0;
}
.title-small{
    padding: 20px 0;
}
.title-small h1{
    font-size: 2rem;
}
.title-small .slogan{
    display: none;
}
h1{
    font-weight: normal;
    font-size: 3rem;
    margin: 0;
}
h1 strong{
    color: #ff7900;
}
.slogan{
    color: #aaa;
}

.paragraph-large{
    font-size:1.4rem;
    line-height: 2rem;
    padding: 20px 50px;
}
.highlighted{
    color: #ff7900;
}
.dt-va{
    display: table;
    width: 100%;
    height: 100%;
}
.dtc{
    display: table-cell;
    vertical-align: middle;
}
.btn{
    color: #fff;
    position: relative;
    margin: 20px auto;
    border: none;
    outline: none;
    display: table;
    background-color: transparent;
}
.btn:hover{
    opacity: .9;
}
.btn span{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    margin: auto;
    z-index: 10;
    height: 30px;
    font-size: 1.5rem;
}

.percentage{
    width: 250px;
    margin: 20px auto;
}
.percentage.shrink{
    width: 210px;
}
.percentage.shrink > span{
    opacity: 0;
    pointer-events: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.bottom_drawer_container{
    position: relative;
    height: 80px;
    width: 100%;
}
.bottom_drawer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 20px;
}
.more_btn{
    color: #aeaeae;
    font-size: .7rem;
    text-decoration: none;
    padding: 5px 10px;
    display: inline-block;
    border: none;
    outline: none;
    background-color: transparent;
}
.bottom_drawer .more_btn{
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    margin: auto;
    width: 150px;
    text-align: center;
}

.bottom_drawer .morph_shape{
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
    width: 100%;
    height: 20px;
    pointer-events: none;
}
.bottom_drawer .morph_shape svg{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 100px;
}
.bottom_drawer_container.open{
    height: 110px;
}
.open .bottom_drawer{
    height: 110px;
}
.drawer_inner{
    padding-top:50px;
    opacity: 0;
    pointer-events: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    visibility: hidden;
}
.drawer_inner h3 strong{
    font-size: 1rem;
    display: block;
}
.drawer_inner h3 span{
    font-size: .75rem;
    color: #aeaeae;
    font-weight: normal;
}
.open .drawer_inner{
    opacity: 1;
    pointer-events: inherit;
    user-select: inherit;
    -moz-user-select: inherit;
    -webkit-user-select: inherit;
    visibility: visible;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
/* 768px and larger */
@media only screen and (min-width: 768px) {
}

/* 768px and smaller */
@media only screen and (max-width: 768px) {
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}