/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #333;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Header style
   ========================================================================== */
header{
    background-color: #2b2117;
    box-shadow: 0 2px 0 rgba(0,0,0,.1);
    position: fixed;
    z-index: 9999;
    width: 100%;
    padding: 2rem 0;
}

#menu{
    margin: 0 auto;
    display: table;
}
#menu ul{
    padding: 0;
    margin: 0;
}

#menu li {
    display:inline-block;
    color: #fff;
}
#menu li a{
    margin: 0 1rem;
    font-size: .8rem;
    padding: .5rem 0;
    text-decoration:none;
    color:#dfc8b4;
    display:block;
    position: relative;
    top:0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#menu li a:hover:after{
    width: 100%;
}
#menu li a:after{
    position: absolute;
    content: '';
    width: 0;
    height: 1px;
    bottom:0;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: #dfc8b4;
}
#menu li a.active{
    color: #fff;
    font-weight: bold;
}
#menu li a.active:after{
    background-color: #cc382d;
    width: 100%;
}

/* ==========================================================================
   section1 style
   ========================================================================== */
.section{
    min-height: 500px;
    border: solid red 1px;
}
#section1{
    position: relative;
    height: 100vh;
    background: url(../img/BG.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*Scroll down Arrows*/
.page-scroll {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
    margin: auto;
    width: 50px;
    display: block;
}
.arrows {
    width: 50px;
    height: 50px;
}
.arrows path{
    fill: transparent;
    stroke: #fff;
    stroke-linecap: round;
}
.arrows path.one{
    -moz-animation: scrldwn 3s infinite ;
    -webkit-animation: scrldwn 3s infinite ;
}
.arrows path.two{
    -moz-animation: scrldwn 3s infinite .2s;
    -webkit-animation: scrldwn 3s infinite .2s;
}
.artwork_container{
    overflow: hidden;
    position: relative;
    height: 100vh;
}
/*Scroll down Arrows animation */

@-moz-keyframes scrldwn{
    0%{stroke-width:2;opacity: .7}
    13%{stroke-width:4;opacity:1}
    25%{stroke-width:2;opacity: .7}
    100%{stroke-width:2;opacity: .7}
}
@-webkit-keyframes scrldwn{
    0%{stroke-width:2;opacity: .7}
    13%{stroke-width:4;opacity:1}
    25%{stroke-width:2;opacity: .7}
    100%{stroke-width:2;opacity: .7}
}


/* ==========================================================================
   Media Queries
   ========================================================================== */
/* 768px and larger */
@media only screen and (min-width: 768px) {
    .menu-btn{
        display: none;
    }

}

/* 768px and smaller */
@media only screen and (max-width: 768px) {
    header{
        padding: 1rem 0;
    }
    .menu-btn{
        display: block;
        position: absolute;
        top: 0;
        left: 100%;
    }
    #menu li {
        display:block;
    }
    #menu li a{
        font-size: 1rem;
        padding: 1rem;
        margin: 0;
    }
    #menu li a:after{
        width: 2px;
        height:0;
        left: 0;
        right: auto;
        top: 0;
    }
    #menu li a.active:after,#menu li a:hover:after{
        height:100%;
        width: 2px;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}